In [25]:
t = 9
h = int(t)
m = int((t-h)*60)
# print(h, m)

if h < 12:
    print(f'{t:9.1f} -> {h:02}:{m:02} am')
else:
    print(f"{t:9.1f} -> {h-12:02}:{m:02} pm")
# print(h, m)

      9.0 -> 09:00 am

In [37]:
dec_times = [9, 9.25, 21, 21.25, 10.5, 10.75, 1.1, 13.10, 13.2, 13.3, 13.4, 13.5]

def dec_to_time(t):
    h = int(t)
    m = int((t - h) * 60)
    # if h < 12:
    #     return f"{h:02}:{m:02} am"
    # else:
    #     return f"{h-12:02}:{m:02} pm"
    return f"{h:02}:{m:02} am" if h < 12 else f"{h-12:02}:{m:02} pm"

for t in dec_times:
    print(f'{t:05.2f} -> {dec_to_time(t)}')

09.00 -> 09:00 am
09.25 -> 09:15 am
21.00 -> 09:00 pm
21.25 -> 09:15 pm
10.50 -> 10:30 am
10.75 -> 10:45 am
01.10 -> 01:06 am
13.10 -> 01:05 pm
13.20 -> 01:11 pm
13.30 -> 01:18 pm
13.40 -> 01:24 pm
13.50 -> 01:30 pm

2. ## convert hhmm to decimal

In [52]:
time_strs = [
    "09:00 am",
    "09:15 am",
    "09:00 pm",
    "09:15 pm",
    "10:30 am",
    "10:45 am",
    "01:06 am",
    "01:05 pm",
    "01:11 pm",
    "01:18 pm",
    "01:24 pm",
    "01:30 pm",
]


def ampm_to_dec(s):
    # s = "09:15 am"
    h = int(s[:2])
    m = int(s[3:5])
    ampm = s[6:]  # s[-2:]
    # print(h, m, ampm)
    new_time = h + m / 60
    if ampm == "pm":
        new_time += 12
    return new_time


for s in time_strs:
    print(f"{s} -> {ampm_to_dec(s):5.2f}")

09:00 am ->  9.00
09:15 am ->  9.25
09:00 pm -> 21.00
09:15 pm -> 21.25
10:30 am -> 10.50
10:45 am -> 10.75
01:06 am ->  1.10
01:05 pm -> 13.08
01:11 pm -> 13.18
01:18 pm -> 13.30
01:24 pm -> 13.40
01:30 pm -> 13.50

In [1]:
students = [
    "6341213026|Suppakorn Jarusdethwiriya",
    "6441036326|Chatrtham Chatramornrat",
    "6541003726|Koravit Wiriyasatta",
    "6541011726|Kongpop Torcheep",
    "6541012326|Kanchanaphon Khamhaeng",
    "6541015226|Kantaphon Junjuryart",
    "6541017526|Kanyarak Pongtanee",
    "6541027826|Kanapoj Khamsai",
    "6541028426|Jatupol Nontanok",
    "6541031226|Jidapa Sopa",
    "6541050126|Chanin Boonin",
    "6541052426|Chayut Janporn",
    "6541064026|Thitinatchaya Singkhamlo",
    "6541069126|Napat Chatchawalanon",
    "6541073626|Nutthanan Prachukhompon",
    "6541078826|Nuttaphon Nithipaparnan",
    "6541079426|Nattamon Lapvisudtisarod",
    "6541105026|Thanut Puttanajutanun",
    "6541135926|Chanissara Khamkhom",
    "6541145126|Phannatat Bunyadet",
    "6541150226|Palita Premkit",
    "6541153126|Poonyanuch Weeratutprapa",
    "6541158326|Phacharachon Thananilkul",
    "6541159026|Pacharawan Sriraksa",
    "6541175026|Pichsinee Rattanaphan",
    "6541185226|Praewa Pechsung",
    "6541193226|Pattarasri Khannark",
    "6541195526|Pakpoom Pewoon",
    "6541239526|Sirin Promchim",
    "6541242326|Suyanish Ekbundit",
    "6541243026|Supatchara Suwan",
    "6541259026|Apiwit Saekow",
    "6541260626|Arissara Jeebdam",
]

In [2]:
def extract_fname(s):
    _, name = s.split('|')
    fname, lname = name.split(' ')
    return fname.upper()

c = int(input("columns = "))
for nth, s in enumerate(students, start=1):
    print(f'{nth:>2}. {extract_fname(s):<20}', end='')
    if (nth % c) == 0:
        print()

 1. SUPPAKORN            2. CHATRTHAM            3. KORAVIT
 4. KONGPOP              5. KANCHANAPHON         6. KANTAPHON
 7. KANYARAK             8. KANAPOJ              9. JATUPOL
10. JIDAPA              11. CHANIN              12. CHAYUT
13. THITINATCHAYA       14. NAPAT               15. NUTTHANAN
16. NUTTAPHON           17. NATTAMON            18. THANUT
19. CHANISSARA          20. PHANNATAT           21. PALITA
22. POONYANUCH          23. PHACHARACHON        24. PACHARAWAN
25. PICHSINEE           26. PRAEWA              27. PATTARASRI
28. PAKPOOM             29. SIRIN               30. SUYANISH
31. SUPATCHARA          32. APIWIT              33. ARISSARA

In [12]:
def extract_fname(student):
    pos = student.find("|") + 1
    fname, lname = student[pos:].split(" ")
    return fname.upper()

s = "6541260626|Arissara Jeebdam"
extract_fname(s)

'ARISSARA'

In [14]:
c = int(input("columns = "))
for nth, student in enumerate(students, start=1):
    fname = extract_fname(student)
    print(f"{nth:2}. {fname:15}", end="")
    if (nth) % c == 0:
        print()

 1. SUPPAKORN       2. CHATRTHAM       3. KORAVIT
 4. KONGPOP         5. KANCHANAPHON    6. KANTAPHON
 7. KANYARAK        8. KANAPOJ         9. JATUPOL
10. JIDAPA         11. CHANIN         12. CHAYUT
13. THITINATCHAYA  14. NAPAT          15. NUTTHANAN
16. NUTTAPHON      17. NATTAMON       18. THANUT
19. CHANISSARA     20. PHANNATAT      21. PALITA
22. POONYANUCH     23. PHACHARACHON   24. PACHARAWAN
25. PICHSINEE      26. PRAEWA         27. PATTARASRI
28. PAKPOOM        29. SIRIN          30. SUYANISH
31. SUPATCHARA     32. APIWIT         33. ARISSARA

# function concepts

In [66]:
def dash25():
    print('-' * 25)

dash25()

-------------------------

In [67]:
def dash(n): # n -> parameter
    print('-' * n)

dash(10)

----------

In [68]:
def xdash(n, c):
    print(c * n)

xdash(10, '=')

==========

In [69]:
def zdash(n, c):
    return c * n

x=zdash(20, 'ðŸ˜€')
print(x)

ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€

In [80]:
info = "6541260626|Arissara Jeebdam"
def extract_info(s):
    # print(info)
    student_id, name = s.split('|')
    fname, lname = name.split(' ')
    return student_id, fname, lname

In [87]:
extract_info(info)[2]

'Jeebdam'

In [ ]:
a, b, c = extract_info(info)
a

'6541260626'

In [83]:
b

'Arissara'

In [84]:
c

'Jeebdam'