In [66]:
4*5

20

In [67]:
a=4
b=5
a * b

20

In [68]:
width = 4
height = 5
width * height

20

# how to design function

In [69]:
def rectangle(width, height):
    return width * height

In [70]:
def rectangle2(width, height):
    if (width > 0) and (height > 0):
        return width * height
    return "#VALUE!"

In [71]:
area = rectangle(4, 5)
area

20

In [72]:
def triangle(base, height):
    # return .5 * base * height
    return .5 * rectangle2(base, height)

In [73]:
triangle(4, 5)

10.0

In [74]:
def square(side):
    if (side > 0)
        return side * side
    return "#VALUE!"

SyntaxError: expected ':' (348428226.py, line 2)

In [ ]:
square(4)

In [ ]:
def square2(side):
    return rectangle2(side, side)

In [ ]:
square2(4)

# mid, left, right functions in Excel

In [ ]:
def mid(text, start_num, num_chars):
    return text[start_num-1:start_num+num_chars-1]

def left(text, num_chars):
    return mid(text, 1, 4)


def right(text, num_chars):
    start=len(text)-num_chars+1
    return mid(text, start, num_chars)


text = "rainbow"
print(mid(text, 3, 2)) # in
left(text, 4)
right(text, 3) # bow

In [ ]:
def turn_left():
    pass

def turn_right():
    for _ in range(3):
        turn_left()

In [ ]:
def is_even(n):
    return True if n % 2 == 0 else False

In [ ]:
is_even(5)

In [ ]:
def is_odd(n):
    # return True if n % 2 != 0 else False
    return not is_even(n)

In [ ]:
is_odd(5)

# to upper case

In [ ]:
def to_upper(ch):
    return chr(ord(ch)-32) if 'a' <= ch <= 'z' else ch

# print(to_upper('1'))
print(to_upper('a'))
print(to_upper('b'))

In [ ]:
ord('a')

In [ ]:
chr(97)

In [ ]:
ord('A')

In [ ]:
-84.2 % 1

In [ ]:
84 % 1

# grade

In [ ]:
def roundup(n):
    if n % 1 == 0:
        return n
    return n + 1

def score_to_letter_grade(score):
    # score = roundup(score)
    score = score if score % 1 == 0 else score + 1
    if score >= 85:
        return 'A'
    elif score >= 80:
        return 'B+'
    elif score >= 75:
        return 'B'
    elif score >= 70:
        return 'C+'
    elif score >= 60:
        return 'C'
    elif score >= 55:
        return 'D+'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

In [ ]:
score_to_letter_grade(74.1)

In [ ]:
scores = [85, 75, 70, 65, 60, 55, 50, 45]
for score in scores:
    print(f'score: {score} -> {score_to_letter_grade(score)}')

In [ ]:
scores = range(45, 101)
for score in scores:
    print(f"score: {score} -> {score_to_letter_grade(score)}")

# price parts

In [ ]:
def price_part(price_vat):
    price = price_vat / 1.07
    vat = price_vat - price
    return price, vat

def vat_part(price_vat):
    return price_vat * 7/107

price_part(107)
vat_part(107)

In [ ]:
x=price_part(107)
x

In [ ]:
x[0]

In [ ]:
x[1]

In [ ]:
price, vat = price_part(107)
print(price)
print(vat)

# split first and last name

In [ ]:
def split_name(full_name):
    first_name, last_name = full_name.split(' ')
    return first_name, last_name

In [ ]:
name = 'Peter Parker'
split_name(name)

In [ ]:
def get_first_name(full_name):
    # first_name, last_name = full_name.split(" ")
    return split_name(full_name)[0]

def get_last_name(full_name):
    # first_name, last_name = full_name.split(" ")
    # return last_name
    return split_name(full_name)[1]

def get_initial(full_name):
    f, l = split_name(full_name=)
    return f[0] + l[0]

# distance

In [ ]:
# (1, 2), (4, 10)

def distance(x1, y1, x2, y2):
    return ((x1-x2)**2 + (y1-y2)**2) ** .5

distance(1, 2, 4, 10)

In [ ]:
def distance2(p1, p2):
    x1, y1 = p1
    x2, y2 = p2
    return ((x1-x2)**2 + (y1-y2)**2) ** .5
    # return ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2) ** .5

distance2((1,2), (4,10))